html {
	color-scheme: dark !important;
}
[class^="FuncButton"] {
	background: rgb(59, 59, 59) !important;
	color: unset !important;
	border: none !important;
	border-radius: 4px !important;
	padding: 10px !important;
	margin: 3px !important;
}
body {
	background: #121212 !important;
	margin-left: 10% !important;
	margin-right: 10% !important;
}
h2.ExerciseTitle {
	color: gray !important;
}
div.StdDiv,
div.Feedback {
	background-color: #121212 !important;
	color: white !important;
}

div.Feedback {
	border: none !important;
	background: #212121 !important;
}

td[bgcolor] {
	background: unset !important;
}
.style10 {
	color: unset !important;
}

span {
	color: gray !important;
}
.QuestionText,
table,
div,
span,
td,
.FeedbackText,
.FeedbackText span.CorrectAnswer,
.FeedbackText span.Guess,
.FeedbackText span.Answer {
	color: white !important;
}
li.QuizQuestion {
	border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	color: #2196f3 !important ;
}
img[src*="home"],
img[src*="biologiepagina5"],
#sidebar {
	display: none !important;
}

img[src*="Navigatie"],
img[src*="test"],
img[src*="i"],
img[src="antwoord.jpg"] {
	filter: invert() !important;
}
img[src*="duim"] {
	filter: unset !important;
}
